.navbar-brand {
  font-family: 'Peralta', cursive;
}
.navbar-brand2 {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}